PORT=3001
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=audit-log-service
KAFKA_CONSUMER_GROUP_ID=audit-log-consumer-group
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=audit-log-service
SCHEMA_REGISTRY_HOST=http://192.168.0.153:8081

# Kafka
KAFKA_ENABLED=true
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=audit-log-service
KAFKA_CONSUMER_GROUP_ID=audit-log-consumer-group
KAFKA_TOPIC_PREFIXES=gardenia-api,identity-service
SCHEMA_REGISTRY_HOST=http://localhost:8081
# optional
KAFKA_SSL=false
KAFKA_SASL_MECHANISM=plain
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=