# App
PORT=3001

# PostgreSQL
DATABASE_DRIVER=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5435
DATABASE_USERNAME=audit
DATABASE_PASSWORD=secret
DATABASE_DATABASE=audit_log_db
DATABASE_SYNCHRONIZE=false
DATABASE_MIGRATIONS_RUN=true
# optional
DATABASE_MIGRATIONS_TABLE_NAME=migrations

# Kafka
KAFKA_ENABLED=true
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=audit-log-service
KAFKA_CONSUMER_GROUP_ID=audit-log-consumer-group
KAFKA_TOPIC_PREFIXES=gardenia-api,identity-service
SCHEMA_REGISTRY_HOST=http://localhost:8081
# optional
KAFKA_SSL=false
KAFKA_SASL_MECHANISM=plain
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
